body { font-family: "Times New Roman", Serif; font-size: 1em; }

.fl { text-indent: 0; padding-top: 1em; }
.fp { text-indent: 0; padding-top: 1em; }
.fp::first-line { font-variant: small-caps; }

p { border: 0; margin: 0; text-align: justify; text-indent: 2em;}

.toc a { text-decoration: none; }

.noborder { border: 0; margin-left: 2em; }

#cover_image { text-align: center; margin: auto; }
#cover_image img { height: 100%; }

h3 { font-family: serif; font-size: 1.2em; padding: .5em 0 0 0; font-weight: normal; margin: 0; text-align: center; }
h2 { font-family: serif; font-size: 1.5em; margin-bottom: 0; text-align: center; }
h1 { font-family: sans-serif; font-size: 2em; padding-top: .5em; padding-bottom: .5em; text-align: center; font-weight: bold; }

.grey { background-color: #E8E8E8; margin: 1em 0 1em 0; padding: .5em; text-indent: 0; }
.topspace { margin-top: 1em; }
.author { text-align: right; font-variant: small-caps; }

.intro { font-family: serif; page-break-after: always; }
.small { font-size: .8em; }

.box { padding: 1em; border: 1px solid black; margin: 1em; }

a { color: blue; text-decoration: none;}

.title { padding-top: 1.5em; text-indent: 0; text-align: center; font-size: 2.5em; }
.subtitle { text-indent: 0; text-align: center; font-size: 1.3em; }
.translator { padding-top: 1em; text-indent: 0; text-align: center; }
.publisher { font-family: sans-serif; text-indent: 0; text-align: center; font-size: .8em; padding-top: 2em;}

.space { padding-top: 1em; padding-bottom: 1em; }
.spacebefore { padding-top: 1em; }

.center { text-indent: 0; text-align: center; }

.thin { margin-top: 1em; width: 80%; margin: auto; }
.indent { margin-left: 2em; }
.noindent { text-indent: 0; }

.copyright { text-indent: 0; text-align: left; text-indent: 0px; }
.rearcover { font-family: arial, sans-serif; margin: 0px; text-indent: 0px; font-size: 1em; }
.backcoverc { font-family: arial, sans-serif; margin: 0px; text-indent: 0px; font-size: 12pt; text-align: center; }
.backcovers { font-family: arial, sans-serif; margin: 0px; text-indent: 0px; font-size: 9pt; text-align: center; }
.backcover1 { font-family: arial, sans-serif; margin: 0px; text-indent: 0px; font-weight: normal; font-size: 12pt; }
.backcoverred { font-family: arial, sans-serif; margin: 0px; text-indent: 0px; font-weight: bold; font-size: 12pt; color: #ff0000; }
.isbn { font-family: arial, sans-serif; text-indent: 0px; font-weight: bold; font-size: 10pt;}

.toc { margin-left:10px; text-indent: 0px; text-align: left;}
.half-title { text-align: center; margin-top: 4em; letter-spacing: .25em; }

.left { padding-right: 30%; text-align: left; }
.right { padding-left: 30%; text-align: right;}

.copyright { font-size: .6em; }
.smallcaps { font-variant: small-caps; }
